<div>
  <%= image_tag("map.png", :alt => "map") %>
  <%= image_tag("teachable-logo.png", :alt => "teachable-logo") %>
  <div id="searchfav">
    <a href="" "email me">Search</a>
    <a href="" "">Favorites</a>
  </div>
  <%= form_tag(favorites_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Gems" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
